@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



:root{
    --primary-color: #8AE9C1;
    --secondary-color: #8EB8E5;
}

body{
    padding: 40px 0;
    font-family: "Titillium Web", sans-serif;
    /* font-family: "Oswald", sans-serif; */
    background: #2A2D34;
}

section{
    width: 80%;
    margin: 0 auto;
}


h1, h2 {
    color: var(--primary-color);
}

h1{
    font-size: 50px;
}

a{
    color: var(--primary-color);
}
.images img{
    width: 90px;
    margin: 0 10px;
}

h2{
    font-size: 30px;
    color: var(--secondary-color);
    margin: 40px 0 0;
}


h3{
    font-size: 26px;
    color: var(--secondary-color);
    font-weight: 400;
}

p,li{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}

hr{
    border-color: var(--primary-color);
    display: block;
    margin: 40px 0 ;
}
pre {
    background-color: #17191c;
    padding: 30px 30px;
    border-radius: 5px;
    overflow-x: auto;
    max-width: 1100px;
    width: 90%;
}
code {
    font-family: "Courier Prime", monospace;
    color: #8AE9C1;
}

.comment{
    color: #8c8b8b;
}

.sub-items{
    padding-left: 40px;
}

/* PAGINACIÓN POR CAPITULOS */

#cont-global{
    position: relative;
}

#cont-global section {
    display: none;
}

#cont-global section.active {
    display: block;
}

.botones {
   text-align: left;
   width: 80%;
   margin: 50px auto;
}

button {
    padding: 14px 30px;
    margin: 5px;
    cursor: pointer;
    background: var(--primary-color);
    border-color: transparent;
    border-radius: 10px;
    transition: .4s;
    box-shadow: 0px 1px 3px 0 #000;
}

button:hover{
    background: transparent;
    color: var(--primary-color);
}


/* RESPONSIVE */
@media screen and (min-width:320px) and (max-width: 768px){
    
h1{
    font-size: 30px;
}


h2{
    font-size: 22px;
    color: #8EB8E5;
}

p{
    color: #fff;
    font-size: 16px;
}


h3{
    font-size: 18px;
    color: #8EB8E5;
}

}